body{
    margin: 0;
    padding-top: 10%;
    padding-right: 2%;
    background-image: url(./love.jpg);x
    background-repeat: no-repeat;
    width: 100%;
}
*{
    box-sizing: border-box;
}
#demo{
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: red;
    font-size: 20px;
    text-shadow: blue 2px 1px;
}
button {
   margin-left: 40%;
   background-color: red;
}
h2{
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: brown;
    text-shadow: blue 1px 1px;
}